{% extends 'base.html.twig' %}
{% block content %}
    <div class="col-12 p-4">
        {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <a href="{{ path('CreateAuthor') }}" class="text-right col-12">Создать автора</a>
        </div>
        {% endif %}
        <div class="row">
            {% for author in Authors %}
            <div class="col-12 col-md-6 p-2">
                <div class="bg-light px-2 py-1">
                    <p class="text-left">Автор: <h4 class="ml-3"><a href="{{ path('EditAuthor', {'id': author.id}) }}">{{ author.shortName }}</a></h4></p>
                    <p class="text-left">Количество книг: <span>1</span></p>
                    <a href="{{ path('DeleteAuthor', {'id': author.id}) }}">Удалить автора</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}