{% extends 'base.html.twig' %}
{% block content %}
    <div class="col-12">
    <div class="row Books my-5 justify-content-center">
        <h3 class="col-12 text-center">Популярные книги</h3>
        {% for book in Books %}
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="{% if book.image is null %}/images/system/open-book.png{% else %}{{ book.imageUrl }}{% endif %}" width="100%">
            <div>
                <p>{{ book.name }}</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row Authors my-5">
            <h3 class="col-12 text-center">Популярные авторы</h3>
        {% for author in Authors %}
            <div class="col-12 col-md-6 p-2">
                <div class="bg-light px-2 py-1">
                    <p class="text-left">Автор: <h4 class="ml-3"><a href="{{ path('EditAuthor', {'id': author.id}) }}">{{ author.shortName }}</a></h4></p>
                    <p class="text-left">Количество книг: <span>undef</span></p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <style>
        .Books > div {
            overflow: hidden;
        }
        .Books ul > li {
            border-bottom: 1px solid lightgrey;
        }
    </style>
{% endblock %}