{% extends 'base.html.twig' %}
{% block content %}
    <div class="col-12">
    <div class="row Books my-5 justify-content-center">
        <h3 class="col-12 text-center">Популярные книги</h3>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://images5.alphacoders.com/284/thumb-1920-284379.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://www.goodfreephotos.com/albums/canada/alberta/banff-national-park/very-majestic-and-beautiful-landscape-with-mountains-in-banff-national-park-alberta-canada.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://images5.alphacoders.com/284/thumb-1920-284379.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://www.goodfreephotos.com/albums/canada/alberta/banff-national-park/very-majestic-and-beautiful-landscape-with-mountains-in-banff-national-park-alberta-canada.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://images5.alphacoders.com/284/thumb-1920-284379.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://www.goodfreephotos.com/albums/canada/alberta/banff-national-park/very-majestic-and-beautiful-landscape-with-mountains-in-banff-national-park-alberta-canada.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://images5.alphacoders.com/284/thumb-1920-284379.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://www.goodfreephotos.com/albums/canada/alberta/banff-national-park/very-majestic-and-beautiful-landscape-with-mountains-in-banff-national-park-alberta-canada.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://images5.alphacoders.com/284/thumb-1920-284379.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
        <div class="col-1 col-md-4 col-lg-2 m-3 pt-1 bg-light">
            <img src="https://www.goodfreephotos.com/albums/canada/alberta/banff-national-park/very-majestic-and-beautiful-landscape-with-mountains-in-banff-national-park-alberta-canada.jpg" width="100%">
            <div class="BookInfo">
                <p class="BookName">Компьютерные сети. Нисходящий подход.</p>
                <p>Авторы:</p>
                <ul class="Authors list-unstyled ml-1">
                    <li>Джеймс Куроуз</li>
                    <li>Кит Росс</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row Authors my-5">
            <h3 class="col-12 text-center">Популярные авторы</h3>
            <div class="col-12 col-md-6 p-2">
                <div class="bg-light px-2 py-1">
                    <p class="text-left">Автор: <h4 class="ml-3"><a href="#">Джеймс Куроуз</a></h4></p>
                    <p class="text-left">Количество книг: <span>1</span></p>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="bg-light px-2 py-1">
                    <p class="text-left">Автор: <h4 class="ml-3"><a href="#">Джеймс Куроуз</a></h4></p>
                    <p class="text-left">Количество книг: <span>1</span></p>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="bg-light px-2 py-1">
                    <p class="text-left">Автор: <h4 class="ml-3"><a href="#">Джеймс Куроуз</a></h4></p>
                    <p class="text-left">Количество книг: <span>1</span></p>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="bg-light px-2 py-1">
                    <p class="text-left">Автор: <h4 class="ml-3"><a href="#">Джеймс Куроуз</a></h4></p>
                    <p class="text-left">Количество книг: <span>1</span></p>
                </div>
            </div>
        </div>
    </div>
    <style>
        .Books > div {
            overflow: hidden;
        }
        .Books ul > li {
            border-bottom: 1px solid lightgrey;
        }
    </style>
{% endblock %}